p.nav-link {
  margin-top: -10px;
  margin-left: -65.5px;
  padding: 14px 60px;
  color: white;
  background-color: darkgreen;
}
a:hover {
  padding: 16px;
  background-color: yellow;
  color: black;
}
a:visited {
  color: black;
}
